#{field 'object.' + _name}
    <div class="col-md-2">
        <label for="${field.id}">
            &{_name}
        </label>
    </div>
    <div class="col-md-4">
        <input id="${field.id}" class="form-control ${field.errorClass}" type="text" name="${field.name}" value="${params[field.name]?.escape()?.raw() ?: field.error?.message == 'validation.required' ? '' : _value?.escape()?.raw()}" size="50" />
        #{ifError field.name}
        <span class="error">${field.error.raw()}</span>
        #{/ifError}
    </div>
#{/field}
