#{extends 'admin_main.html' /}
#{set title:messages.get('key.create') /}

#{set 'moreStyles'}
#{stylesheet 'bootstrap-datepicker3.min.css'/}
#{/set}

#{set 'moreScripts'}
#{script 'bootstrap-datepicker.min.js'/}


<script>
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        clearBtn: true,
        autoclose: true
    });
</script>
#{/set}

<div class="row">
    <div class="col-md-7">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>&{'key.create'}</h2>
            </div>
            <div class="panel-body">

            #{form action:@createImpl(), enctype:'multipart/form-data', class: 'form-horizontal'}
                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'key.keyString'}:</label>
                    </div>
                    <div class="col-md-9">
                        <input name="keyString" type="text" class="form-control" value="${flash.keyString}">
                        <span class="alert-danger">#{error 'keyString' /}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'key.expirationDate'}:</label>
                    </div>
                    <div class="col-md-9">
                        <input class="datepicker form-control" name="expirationDate" type="text" value="${flash.expirationDate}">
                        <span class="alert-danger">#{error 'expirationDate' /}</span>
                        <span class="small">&{'key.expirationHint'}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'key.installs'}:</label>
                    </div>
                    <div class="col-md-9">
                        <input name="maxInstalls" type="text" class="form-control" value="${flash.maxInstalls}">
                        <span class="alert-danger">#{error 'maxInstalls' /}</span>
                        <span class="small">&{'key.maxInstallsHint'}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'key.payload'}:</label>
                    </div>
                    <div class="col-md-9">
                        <input name="payload" type="text" class="form-control" value="${flash.payload}">
                        <span class="alert-danger">#{error 'payload' /}</span>
                        <span class="small">&{'key.payloadHint'}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'key.company'}:</label>
                    </div>
                    <div class="col-md-9">
                        <select class="form-control" name="companyId">
                            <option value="-1">&{'none'}</option>
                            #{list items: companies, as: 'company'}
                                <option value="${company.id}">${company.companyName}</option>
                            #{/list}
                        </select>
                        <span class="alert-danger">#{error 'companyId' /}</span>
                    </div>
                </div>

                <div class="pull-right">
                    <button class="btn btn-primary">&{'key.create'}</button>
                </div>
            #{/form}

            </div>
        </div>
    </div>
</div>
