#{extends 'admin_main.html' /}
#{set title:messages.get('key.edit.title') /}

#{set 'moreStyles'}
    #{stylesheet 'bootstrap-datepicker3.min.css'/}
#{/set}

#{set 'moreScripts'}
    #{script 'bootstrap-datepicker.min.js'/}


<script>
    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        clearBtn: true,
        autoclose: true
    });
</script>
#{/set}

<div class="row">
    <div class="col-md-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>&{'key.edit.title'}</h2>
            </div>
            <div class="panel-body">
            #{if licenseKey.expiresSoon()}
                <div class="alert alert-warning">
                    <i class="glyphicon glyphicon-exclamation-sign"></i> &{'key.expirationNotice'}
                </div>
            #{/if}
            #{elseif licenseKey.isExpired()}
                <div class="alert alert-danger">
                    <i class="glyphicon glyphicon-remove-circle"></i> &{'key.expired'}
                </div>
            #{/elseif}

                <div class="row">
                    <div class="col-md-12">

                    #{form action:@createImpl(), enctype:'multipart/form-data', class: 'form-horizontal'}
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'key.keyString'}:</label>
                            </div>
                            <div class="col-md-9">
                            ${licenseKey.keyString}
                                <input name="key" type="hidden" value="${licenseKey.keyString}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'key.expirationDate'}:</label>
                            </div>
                            <div class="col-md-9">
                                <span style="color: ${licenseKey.getColorForText()}">${licenseKey.getExpirationDateString()}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'key.company'}:</label>
                            </div>
                            <div class="col-md-9">
                            ${licenseKey.getCompanyString()}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'key.installs'}:</label>
                            </div>
                            <div class="col-md-9">
                                <input name="maxInstalls" type="text" class="form-control" value="${licenseKey.maxInstalls}">
                                <span class="alert-danger">#{error 'maxInstalls' /}</span>
                                <span class="small">&{'key.maxInstallsHint'}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'key.payload'}:</label>
                            </div>
                            <div class="col-md-9">
                                <input name="payload" type="text" class="form-control" value="${licenseKey.payload}">
                                <span class="alert-danger">#{error 'payload' /}</span>
                                <span class="small">&{'key.payloadHint'}</span>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button class="btn btn-primary">&{'save'}</button>
                        </div>
                    #{/form}

                    </div>
                </div>
            #{if licenseKey.maxInstalls > 0}
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3>&{'key.installs'} ${licenseKey.getInstallCountString()}</h3>
                        <table class="table table-bordered table-striped">
                            <col width="90%"/>
                            <col width="10%"/>
                            #{list items: licenseKey.activeInstalls, as: 'fingerprint'}
                                <tr>
                                    <td>
                                    ${fingerprint}
                                    </td>
                                    <td>
                                        <a href="@{deleteFingerprint(licenseKey.keyString, fingerprint)}" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></a>
                                    </td>
                                </tr>
                            #{/list}
                        </table>
                    </div>
                </div>
            #{/if}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>&{'key.renewals'}</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                        &{'key.renew.date'}
                        </th>
                        <th>
                        &{'key.renew.reason'}
                        </th>
                        <th>
                        &{'key.renew.expirationDate'}
                        </th>
                        <th>
                        &{'key.renew.user'}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    #{list items: licenseKey.renewals, as: 'renewal'}
                    <tr>
                        <td>
                        ${renewal.renewalDate.asdate()}
                        </td>
                        <td>
                        ${renewal.reason}
                        </td>
                        <td>
                        ${renewal.nextExpirationDate.asdate()}
                        </td>
                        <td>
                        ${renewal.user}
                        </td>
                    </tr>
                    #{/list}
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                    #{form @renew(), class: 'form-inline'}
                        <input type="hidden" name="key" value="${licenseKey.keyString}"/>
                        <input type="text" placeholder="&{'key.renew.reason'}" name="reason" class="form-control">
                        <input type="text" placeholder="&{'key.expirationDate'}" name="nextExpirationDate" class="form-control datepicker">
                        <button class="btn btn-default"><i class="glyphicon glyphicon-time"></i> &{'key.renew'}</button>
                    #{/form}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
