#{extends 'admin_main.html' /}
#{set title:messages.get('key.list.title') /}

<div class="row">
    <div class="col-md-12">
        <h2>&{'key.list.title'}</h2>
    </div>
</div>
<div class="row margin-bottom-15">
    <div class="col-md-12">
        <a class="btn btn-primary" href="@{LicenseKeys.create()}"><i class="glyphicon glyphicon-plus"></i> &{'key.create'}</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    #{if expiringCount > 0}
        <div class="alert alert-warning">
            <i class="glyphicon glyphicon-exclamation-sign"></i> ${play.i18n.Messages.get('key.expiringCount', expiringCount)}
        </div>
    #{/if}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>&{'key.keyString'}</th>
                <th>&{'key.company'}</th>
                <th>&{'key.expirationDate'}</th>
                <th>&{'key.installs'}</th>
                <th>&{'key.lastValidationDate'}</th>
                <th style="width: 10%">&{'list.actions'}</th>
            </tr>
            </thead>
            <tbody>
            #{paginate.list items: paginator, as:'o'}
            <tr>
                <td>
                    <span style="color: ${o.getColorForText()}">${o.keyString}</span>
                </td>
                <td>
                ${o.company != null ? o.company.companyName : "-"}
                </td>
                <td>
                ${o.getExpirationDateString()}
                </td>
                <td>
                ${o.getInstallCountString()}
                </td>
                <td>
                ${o.getLastUseDateString()}
                </td>
                <td>
                    <a href="@{edit(o._key())}">
                        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
                    </a>
                    <a href="@{delete(o._key())}">
                        <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                    </a>
                </td>
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </div>
</div>
<!-- Table with objects -->

<div class="row">
#{paginate.controls items: paginator/}
</div>