#{extends 'admin_main.html' /}
#{set title:messages.get('user.list.title') /}

<div class="row">
    <h1>&{'user.list.title'}</h1>
</div>
<div class="row">
    <a class="btn btn-primary" href="@{Users.create()}"><i class="glyphicon glyphicon-plus"></i> &{'user.list.add'}</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>&{'user.list.login'}</th>
                <th>&{'user.list.registrationDate'}</th>
                <th style="width: 10%">&{'user.list.actions'}</th>
            </tr>
            </thead>
            <tbody>
            #{paginate.list items: paginator, as:'o'}
            <tr>
                <td>${o.login}</td>
                <td>${o.registrationDate.asdate()}</td>
                <td>
                    <a href="@{edit(o._key())}">
                        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
                    </a>
                    <a href="@{delete(o._key())}">
                        <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                    </a>
                </td>
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </div>
</div>
<!-- Table with objects -->

<div class="row">
#{paginate.controls items: paginator/}
</div>