#{extends 'admin_main.html' /}
#{set title:messages.get('company.create.title') /}

<div class="row">
    <div class="col-md-7">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>&{'company.create.title'}</h2>
            </div>
            <div class="panel-body">

            #{form action:@createImpl(), enctype:'multipart/form-data', class: 'form-horizontal'}
                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'company.companyName'}:</label>
                    </div>
                    <div class="col-md-9">
                        <input name="companyName" type="text" class="form-control" value="${flash.companyName}">
                        <span class="alert-danger">#{error 'companyName' /}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'company.contactEmail'}:</label>
                    </div>
                    <div class="col-md-9">
                        <input name="contactEmail" type="text" class="form-control" value="${flash.contactEmail}">
                        <span class="alert-danger">#{error 'contactEmail' /}</span>
                        <span class="small">&{'company.emailHint'}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>
                        &{'company.sendNotifications'}
                        </label>
                    </div>
                    <div class="col-md-9">
                        <input type="checkbox" name="sendNotifications">
                        <span class="small">&{'company.sendNotificationsHint'}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>&{'company.description'}:</label>
                    </div>
                    <div class="col-md-9">
                        <textarea name="description" class="form-control">${flash.description}</textarea>
                        <span class="alert-danger">#{error 'description' /}</span>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">&{'company.create.title'}</button>
                </div>
            #{/form}

            </div>
        </div>
    </div>
</div>