#{extends 'admin_main.html' /}
#{set title:messages.get('company.edit.title', company.companyName) /}

<div class="row">
    <div class="col-md-7">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>&{'company.edit.title', company.companyName}</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                    #{form action:@editImpl(), enctype:'multipart/form-data', class: 'form-horizontal'}
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'company.companyName'}:</label>
                            </div>
                            <div class="col-md-9">
                            ${company.companyName}
                                <input name="id" type="hidden" class="form-control" value="${company.id}">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'company.contactEmail'}:</label>
                            </div>
                            <div class="col-md-9">
                                <input name="contactEmail" type="text" class="form-control" value="${company.contactEmail}">
                                <span class="alert-danger">#{error 'contactEmail' /}</span>
                                <span class="small">&{'company.emailHint'}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>
                                &{'company.sendNotifications'}
                                </label>
                            </div>
                            <div class="col-md-9">
                                <input type="checkbox" name="sendNotifications" #{if company.sendNotifications} checked #{/if}>
                                <span class="small">&{'company.sendNotificationsHint'}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>&{'company.description'}:</label>
                            </div>
                            <div class="col-md-9">
                                <textarea name="description" class="form-control">${company.description}</textarea>
                                <span class="alert-danger">#{error 'description' /}</span>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary">&{'save'}</button>
                        </div>
                    #{/form}

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3> &{"company.keys"}</h3>

                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>&{'key.keyString'}</th>
                                <th>&{'key.expirationDate'}</th>
                                <th>&{'key.installs'}</th>
                                <th>&{'key.lastValidationDate'}</th>
                            </tr>
                            </thead>
                            <tbody>
                            #{paginate.list items: keyPaginator, as: 'key'}
                            <tr>
                                <td>
                                ${key.keyString}
                                </td>
                                <td>
                                ${key.expirationDate}
                                </td>
                                <td>
                                ${key.getInstallCountString()}
                                </td>
                                <td>
                                ${key.getExpirationDateString()}
                                </td>
                            </tr>
                            #{/paginate.list}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

