#{extends 'admin_main.html' /}
#{set title:messages.get('company.list.title') /}

<div class="row">
    <h1>&{'company.list.title'}</h1>
</div>
<div class="row margin-bottom-15">
    <a class="btn btn-primary" href="@{Companies.create()}"><i class="glyphicon glyphicon-plus"></i> &{'company.create'}</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>&{'company.companyName'}</th>
                <th>&{'company.registrationDate'}</th>
                <th>&{'company.licenseCount'}</th>
                <th>&{'company.contactEmail'}</th>
                <th style="width: 10%">&{'list.actions'}</th>
            </tr>
            </thead>
            <tbody>
            #{paginate.list items: paginator, as:'o'}
            <tr>
                <td>${o.companyName}</td>
                <td>${o.registrationDate.asdate()}</td>
                <td>${o.keys.size()}</td>
                <td>${o.contactEmail}</td>
                <td>
                    <a href="@{edit(o._key())}">
                        <button class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></button>
                    </a>
                    <a href="@{delete(o._key())}">
                        <button class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button>
                    </a>
                </td>
            </tr>
            #{/paginate.list}
            </tbody>
        </table>
    </div>
</div>
<!-- Table with objects -->

<div class="row">
#{paginate.controls items: paginator/}
</div>