#{extends 'admin_main.html' /}

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3>Admin Dashboard</h3></div>
            <div class="panel-body">
                Add your dashboard contents here
            </div>
        </div>

    </div>
</div>